apiversion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
     conatainers:
       - name: nginx
         image: nginx:1.25
         ports:
           - containerPort: 80
